.jumbotron{
	height: 100px;
}

#headerContainer{
	margin-top: -20px;
}
#headerImg{
	height: 70px;
	width: auto;
	margin-top: -15px;
}

#headerH3{
	margin-top: -5px;
}
.form_inline_diy{
	opacity: 100%;
}


#nav-wrapper.affix {
    top: 0;
    width: 100%
}


#nav > .navbar-inner {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.display_blog{

}


@media screen and (max-width: 801px){
  .mediaNoShow{
    display: none !important;
  }
}